@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(16, 124, 156);
    --primary-color-dark: rgb(9, 79, 100);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'open sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;

}

.container {
    width: 500px;
    height: 630px;
    margin: 10px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;

    display : flex;
    flex-direction: column;

}

.referencia {
    display: flex;
    height: 210px;

    display: flex;

}

.imc {
    display: flex;
    width: 45%;
    flex-direction: column;

    justify-content: flex-end;
}

.resultado2 {
    width: 45%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.calculo {
    height: 200px;
    display : flex;

    flex-direction: column;
    justify-content: space-between;

    margin-top: -25px;
}

.resultado {
    
    display : flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 60px;

}

h1{
    display: flex;
    justify-content: center;
    margin-top: 15px;

}
h2{
    font-size: 22px;
}


form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 20px;
    height: 40px;
    padding: 0 20px;
    border-radius: 3px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
    margin-top: 15px;
}
form button:hover{
    background: var(--primary-color-dark);
}

form button:active{
    background: rgb(51, 170, 206);
}

.paragrafo-resultado{
    background:rgb(99, 219, 163);
    padding: 7px 14px;
}
.bad {
    background: rgb(235, 135, 135);
}